## Recommendation system:
A piece of code which is intelligent enough to understand the user interset and suggest the products accordingly.

### Types: 
#### 1. Popularity based:
Displaying top N products based on the reviews or votes obtained.
#### 2. Content based:
Suggests the similar kind of content to the user based on the user search.
#### 3. Collaborative filter:
It attempts to find users that have similar preferences and opinions as the input and then recommends items that they have liked to the input.
#### 4. Hybrid recommendation system.
Hybrid recommendation system combines both content based and collaborative based recommendations

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sb

In [2]:
books = pd.read_csv(r"C:\Users\prasa\Dropbox\PC\Desktop\ML\Projects\Book recommendation system\archive\Books.csv")
users = pd.read_csv(r"C:\Users\prasa\Dropbox\PC\Desktop\ML\Projects\Book recommendation system\archive\Users.csv")
ratings = pd.read_csv(r"C:\Users\prasa\Dropbox\PC\Desktop\ML\Projects\Book recommendation system\archive\Ratings.csv")

C:\Users\prasa\AppData\Local\Temp\ipykernel_37076\3633485026.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(r"C:\Users\prasa\Dropbox\PC\Desktop\ML\Projects\Book recommendation system\archive\Books.csv")

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
users.head(5)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
print("Books shape: ",books.shape)
print("Users shape: ",users.shape)
print("Ratings shape ",ratings.shape)

Books shape:  (271360, 8)
Users shape:  (278858, 3)
Ratings shape  (1149780, 3)

In [7]:
books.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
users.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [9]:
ratings.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [10]:
books.duplicated().sum()

0

In [11]:
users.duplicated().sum()

0

In [12]:
ratings.duplicated().sum()

0

In [13]:
#### Note : No duplicates found in the data set

### Popularity based recommendation system

Criteria followed:
Display the top 250 rated books, based on the user ratings. Consider the books with minimum votes greater than 250

In [14]:
books_ratings = ratings.merge(books, on='ISBN')
books_ratings.shape

(1031136, 10)

In [15]:
books_ratings.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [16]:
num_ratings = books_ratings.groupby('Book-Title').agg('count')['Book-Rating'].reset_index()
num_ratings.rename(columns={'Book-Rating':'Count-rating'},inplace=True)

In [17]:
avg_ratings = books_ratings.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_ratings.rename(columns={"Book-Rating":"Avg-rating"},inplace=True)

In [18]:
books_top_ratings = num_ratings.merge(avg_ratings,on='Book-Title')
books_top_ratings.head()

                                          Book-Title  Count-rating  Avg-rating
0   A Light in the Storm: The Civil War Diary of ...             4        2.25
1                              Always Have Popsicles             1        0.00
2               Apple Magic (The Collector's series)             1        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...             1        8.00
4   Beyond IBM: Leadership Marketing and Finance ...             1        0.00

In [21]:
top_50_books = books_top_ratings[(books_top_ratings['Count-rating']>=250)].head(50)
top_50_books = top_50_books.sort_values(by='Avg-rating',ascending=False)
top_50_books.shape

(50, 3)

In [22]:
top_50_books_details = top_50_books.merge(books,on='Book-Title')
top_50_books_details = top_50_books_details.drop_duplicates('Book-Title')
top_50_books_details.shape

(50, 10)

In [25]:
top_50_books

,Book-Title,Count-rating,Avg-rating
764,1984,284,4.454225
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
8752,About a Boy,262,3.900763
5664,A Prayer for Owen Meany,413,3.796610
14392,Angels &amp; Demons,670,3.708955
21754,Bel Canto: A Novel,350,3.702857
19780,Balzac and the Little Chinese Seamstress : A N...,284,3.676056
38814,Confessions of a Shopaholic (Summer Display Op...,350,3.634286
60166,Empire Falls,392,3.630102
51986,Digital Fortress : A Thriller,293,3.576792
818,1st to Die: A Novel,509,3.575639
27922,Bridget Jones's Diary,815,3.527607
52983,Divine Secrets of the Ya-Ya Sisterhood: A Novel,740,3.437838
70804,Fried Green Tomatoes at the Whistle Stop Cafe,313,3.434505
3988,A Heartbreaking Work of Staggering Genius,302,3.423841
74758,"Girl, Interrupted",262,3.419847
34758,Chocolat,344,3.412791
7379,A Walk to Remember,378,3.399471
64098,Fall On Your Knees (Oprah #45),284,3.387324
1760,A Bend in the Road,346,3.364162
37121,Cold Mountain : A Novel,311,3.350482
14351,Angela's Ashes (MMP) : A Memoir,326,3.337423
43457,Dance upon the Air (Three Sisters Island Trilogy),258,3.271318
1048,2nd Chance,356,3.269663
5303,A Painted House,838,3.231504
55358,Dreamcatcher,481,3.212058
53606,Dolores Claiborne,275,3.185455
40623,Cradle and All,265,3.135849
6980,A Time to Kill,549,3.122040
11924,Along Came a Spider (Alex Cross Novels),304,3.121711
71668,Full House (Janet Evanovich's Full Series),257,3.042802
47417,Deception Point,262,2.931298
10429,Airframe,332,2.900602
11215,All I Really Need to Know,258,2.879845
24758,Black and Blue,263,2.794677
7474,A Widow for One Year,273,2.783883
24628,Black Notice,360,2.783333
67832,Flesh and Blood,254,2.775591
4229,A Is for Alibi (Kinsey Millhone Mysteries (Pap...,285,2.733333
19241,Back Roads,276,2.681159
32710,Cause of Death,287,2.620209
4808,A Map of the World,327,2.492355
38907,Congo,299,2.431438
52409,Disclosure,318,2.345912

### Collaborative recommender system

In [27]:
# Merging the data corresponding the movies and their ratings
book_ratings = ratings.merge(books,on='ISBN')
book_ratings.shape

(1031136, 10)

In the collaborative recommendation model, we are going to consider the books that are having at least 50 reviews from the users and active users who gave ratings to atleast 300 books.

In [37]:
# Filtering the users who gave atleast 300 reviews 
x =book_ratings.groupby('User-ID')['Book-Rating'].count()>=300
filtered_users = x[x].index
filtered_book_ratings = book_ratings[book_ratings['User-ID'].isin(filtered_users)]
filtered_book_ratings.shape
filtered_book_ratings.shape

(398902, 10)

In [38]:
# Filtering the books that are having minimum 50 ratings 
y =filtered_book_ratings.groupby('Book-Title')['Book-Rating'].count()>=50
filtered_books = y[y].index
filtered_book_ratings = filtered_book_ratings[filtered_book_ratings['Book-Title'].isin(filtered_books)]
filtered_book_ratings.shape

(36098, 10)

In [39]:
# Creating a pivot table such that the index will be the Book title and columns are the Users
pivoted_data = filtered_book_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
pivoted_data

User-ID,254,2276,3363,4385,6251,6543,6575,7158,7346,8681,...,270713,271284,273979,274004,274061,274301,274308,275970,277427,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,9.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4 Blondes,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Case of Need,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,7.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Without Remorse,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wuthering Heights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN

In [44]:
# Replace all the NaN with 0
pivoted_data.fillna(0,inplace=True)
pivoted_data.isna().sum()

User-ID
254       0
2276      0
3363      0
4385      0
6251      0
         ..
274301    0
274308    0
275970    0
277427    0
278418    0
Length: 500, dtype: int64

In [45]:
# Calculating the similarity  score for each row
from sklearn.metrics.pairwise import cosine_similarity
similarity_scores = cosine_similarity(pivoted_data)
similarity_scores.shape

(479, 479)

In [56]:
def recommend(book_name):
    index = np.where(pivoted_data.index==book_name)[0][0]
    similar_books = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[:5]
    for i in similar_books:
        similar_book_name = pivoted_data.index[i[0]]
        print(similar_book_name)

In [59]:
recommend('2nd Chance')

2nd Chance
The Next Accident
Violets Are Blue
Four Blind Mice
The Blue Nowhere : A Novel